:root {
    --main-color: #665BD1;
    --first-color: #25262E;
}

.song {
    margin-top: 30px;
    margin-left: 20px;
}
.song p:first-child {
    color: #fff;
    font-size: 1.1rem;
}
.title {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.emoji {
    margin-top: 20px;
}

.btnSong {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    margin-left: 5px;
    width: 86vw;
    height: 9vh;
    border-radius: 10px;
    background-color: var(--first-color);
    border: 0;
    cursor: pointer;
}

.inside {
    display: flex;
    column-gap: 20px;
    margin: 10px;
}

.songImg img {
    width: 13vw;
    height: 6vh;
    border-radius: 10px;
}

.content  {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 7px;
    margin-top: 7px;
}

.btn h5 {
    margin: 0;
    color: #fff;
    font-size: 0.8rem;
}

.btn p {
    margin: 0;
    color: #fff;
    opacity: 0.6;
}

.alramContainer {
    display: flex;
    margin-bottom: 50px;
}

.alram {
    display: flex;
    width: 85vw;
    height: 30vh;
    margin-top: 50px;
    border-radius: 20px;
    background-color: var(--first-color);
    border: 0;
    padding: 5px;
}

.alramTitle {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    width: 76vw;
    align-items: center;
    margin-top: 10px;
    margin-left: 23px;
}

.alram h4 {
    color: #fff;
    font-size: 1.1rem;
    /* margin: 20px; */
}

.plus {
    display: flex;
    margin-left: auto;
    /* margin-left: 175px; */
    /* margin-top: 10px; */
    font-size: 1rem;
}

.plus i {
    color: var(--main-color);
    font-size: 1rem;
    margin-left: 14px;
}

.alramContainer {
    margin-left: 20px;
    position: relative;
}

.time {
    display: flex;
    position: absolute;
    top: 35%;
    margin-left: 30px;
    width: 75vw;
    justify-content: space-between;
}
.control{
    width: fit-content;
}

.control h3 {
    color: #fff;
    font-size: 1.7rem;
    margin-top: 10px;
}

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
}

label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

[type="checkbox"] {
    appearance: none;
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 18vw;
    height: 4vh;
}

[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 9vw;
    height: 4vh;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: var(--main-color);
    transition: left 250ms linear;
}

[type="checkbox"]:checked {
    background-color: black;
}

[type="checkbox"]:checked::before {
    background-color: var(--main-color);
    left: 2.3rem;
}

.selected-date {
    background-color: white;
    border-radius: 20px;
}


.control{
    width: fit-content;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}

.control .after {
    color: #fff;
    font-size: 1rem;
}
.control p {
    color: #fff;
    font-size: 2rem;
    /* margin-top: 10px; */
}
.btn-position{
    position: absolute;
    right: 0;
    top: 20%;
}

.time {
    display: flex;
    position: absolute;
    top: 30%;
    /* left: 13%; */
    width: 78vw;
    justify-content: space-between;
    align-items: center;
}