header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.nav-logo{
    background-image: url(../images/logo.png);
    width: 12vw;
    height: 7vh;
    background-size: cover;
    margin-top: 10px;
}
.nav {
    height: 60px;
    background-color: #0D1013;
    color: #fff;
    padding: 20px 10px;
    width: 50vw;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav.container {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.nav.container a {
    color: #fff;
}

.nav-toggle {
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
}